<div class="form-grid">
    <div>
        <h2 style="font-size: 32px; margin-bottom: 20px;">Стань частью <br><span style="color: var(--primary)">большого дела</span></h2>
        <p style="color: #888;">Заполни анкету волонтера. Мы свяжемся с тобой для участия в ближайших эко-акциях Ферганы.</p>
        <div style="margin-top: 30px; padding: 15px; border-left: 2px solid var(--primary); background: rgba(0, 242, 254, 0.05); border-radius: 0 15px 15px 0;">
            <p style="margin: 0; font-size: 14px; color: #eee; font-style: italic;">"Природа не наследуется нами у предков, а берется взаймы у наших детей."</p>
        </div>
    </div>
    <form action="/register" method="POST">
        <input type="text" name="name" placeholder="Твое имя" required>
        <input type="tel" name="phone" placeholder="+998" required>
        <textarea name="motivation" placeholder="Твои цели или комментарий" rows="3"></textarea>
        <button type="submit" class="btn btn-main" style="width: 100%; border: none;">Отправить анкету</button>
    </form>
</div>
